.gameview {
    position: relative;
    width: 18em;
    margin: 3em auto;
    padding: 3em 0 2.5em 0;

    &.has-chosen {
        visibility: hidden;
    }

    &__connector {
        position: relative;
        z-index: -2; // prevents transparentizing the borders
        width: 12em;
        display: block;
        margin: auto;
    }

    &__btns {
        @include box-size(100%);
        @include absolute-position(0, initial, initial, initial);
        display: flex;
        justify-content: center;
    }

    &__btn {
        @include box-size(8em);
        border-radius: 50%;
        cursor: pointer;
        transform: scale(0);
        @include transition-ease(transform);
        transition-timing-function: cubic-bezier(0.11, 0.45, 0.42, 1.6);

        &.pop {
            transform: scale(1);
        }

        img {
            box-shadow: 0px -4px darken(white, 15%);
            background-color: white;
            margin-top: 0.2em;
            margin-left: 0.1em;
            padding: 2.25em;
            border-radius: 50%;
            @include box-size(98%);
        }

        &--paper {
            @include absolute-position(0, initial, initial, 0);

            &::before {
                @include border-button-preset(8em, $paper-colors);
                @include absolute-position(0, initial, initial, 0);
            }
        }

        &--scissors {
            @include absolute-position(0, 0, initial, initial);
            transition-delay: 100ms;

            &::before {
                @include border-button-preset(8em, $scissors-colors);
                @include absolute-position(0, initial, initial, 0);
            }
        }

        &--rock {
            @include absolute-position(initial, initial, 0, initial);
            transition-delay: 200ms;

            &::before {
                @include absolute-position(0, initial, initial, 0);
                @include border-button-preset(8em, $rock-colors)
            }
        }
    }
}


