.gameview {
    position: relative;
    width: 18em;
    margin: 3em auto;
    padding: 3em 0 2.5em 0;

    &.has-chosen {
        visibility: hidden;
    }

    &__connector {
        position: relative;
        z-index: -2; // prevents transparentizing the borders
        width: 12em;
        display: block;
        margin: auto;
    }

    &__btns {
        @include box-size(100%);
        @include absolute-position(0, initial, initial, initial);
        display: flex;
        justify-content: center;
    }

    &__btn {
        @include box-size(8em);
        border-radius: 50%;
        cursor: pointer;
        transform: scale(0);
        @include transition-ease(transform);
        transition-timing-function: cubic-bezier(0.11, 0.45, 0.42, 1.6);

        &.pop {
            transform: scale(1);
        }

        img {
            box-shadow: 0px -4px darken(white, 15%);
            background-color: white;
            margin-top: 0.2em;
            margin-left: 0.1em;
            padding: 2.25em;
            border-radius: 50%;
            @include box-size(98%);
        }

        &--paper {
            @include absolute-position(0, initial, initial, 0);
            transition-delay: 100ms;

            &::before {
                @include border-button-preset(8em, $paper-colors);
            }
        }

        &--scissors {
            &::before {
                @include border-button-preset(8em, $scissors-colors);
            }
        }

        &--rock {
            @include absolute-position(initial, initial, 0, initial);
            transition-delay: 200ms;

            &::before {
                @include border-button-preset(8em, $rock-colors);
            }
        }

        &--lizard {
            display: none;
            visibility: hidden;
            transition-delay: 300ms;

            &::before {
                @include border-button-preset(8em, $lizard-colors);
            }
        }

        &--spock {
            display: none;
            visibility: hidden;
            transition-delay: 400ms;

            &::before {
                @include border-button-preset(8em, $spock-colors);
            }
        }
    }

    &.hard-active {
        .triangle {
            display: none;
        }

        .gameview__btn {
            @extend .gameview__btn;
            @include box-size(6em);

            &--paper {
                &:before {
                    @include border-button-preset(6em, $paper-colors);
                }
            }

            &--scissors {
                &:before {
                    @include border-button-preset(6em, $scissors-colors);
                }
            }

            &--rock {
                &:before {
                    @include border-button-preset(6em, $rock-colors);
                }
            }

            &--lizard {
                display: initial;
                visibility: visible;

                &:before {
                    @include border-button-preset(6em, $lizard-colors);
                }
            }

            &--spock {
                display: initial;
                visibility: visible;
                
                &:before {
                    @include border-button-preset(6em, $spock-colors);
                }
            }
        }
    }
}
