.picks {
    visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 90%;
    max-width: 42em;
    top: 0;
    margin-top: 28vh;

    &__container {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        text-transform: uppercase;
        font-size: 0.6rem;
        letter-spacing: 0.25em;
        padding: 1em;
    }

    h1 {
        font-weight: 600;
        text-align: center;
    }

    .btn--placeholder {
        border-radius: 50%;
        @include box-size(11em);
        z-index: -1;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: rgba(darken($dark-text, 20), 0.3);
        margin-bottom: 5em;
        @include transition-ease(box-shadow);

        button {
            margin: none !important;
        }

        &.picks__player.won,
        &.picks__house.won {
            box-shadow: 0 0 0px 32px rgba(white, 0.15),
                0 0 0px 64px rgba(white, 0.1), 0 0 0px 128px rgba(white, 0.05);
        }
    }

    &.active {
        visibility: visible;
        display: flex;
    }
}
