.picks {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 50em;
    top: 0;
    margin-top: 28vh;

    &__container {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        text-transform: uppercase;
        font-size: 0.6rem;
        letter-spacing: 0.25em;
        padding: 1em;
    }

    h1 {
        font-weight: 600;
    }

    .btn--placeholder {
        @extend .gameview__btn;
        @include box-size(11em);
        z-index: -1;
        position: relative;
        display: flex;
        justify-content: center;
        box-shadow: none;
        background-color: rgba(darken($dark-text, 20), 0.3);
        margin-bottom: 5em;
    }
}
