@include responsive-size(tablet) {
    .scoreboard {
        &__title {
            font-size: 1.5rem;
        }

        &__card p {
            font-size: 0.8rem;
        }

        &__score {
            margin-top: -0.15em;
            font-size: 3rem;
        }

        &.hard-active {
            .scoreboard__title {
                font-size: 1.3rem;
            }
        }
    }

    .gameview {
        margin-top: 1em;
        width: 20em;

        &__connector {
            width: 14em;
        }

        &__btn {
            img {
                @include box-size(110%);
                box-shadow: 0px -6px darken(white, 15%);
            }

            img {
                margin-top: 0.25em;
                margin-left: -1em;
            }

            &--paper::before {
                @include box-size(9em);
                box-shadow: -1px 8px shade-button($paper-colors, 20%);
            }

            &--scissors::before {
                @include box-size(9em);
                box-shadow: -1px 8px shade-button($scissors-colors, 20%);
            }

            &--rock::before {
                @include box-size(9em);
                box-shadow: -1px 8px shade-button($rock-colors, 20%);
            }

            &--spock::before {
                @include box-size(9em);
                box-shadow: -1px 8px shade-button($spock-colors, 20%);
            }

            &--lizard::before {
                @include box-size(9em);
                box-shadow: -1px 8px shade-button($lizard-colors, 20%);
            }
        }

        &.hard-active {
            width: 22em;

            .gameview__btn {
                img {
                    padding: 1.25em;
                    box-shadow: 0px -4px darken(white, 15%);
                }

                &--paper {
                    margin-top: 6em;

                    &::before {
                        @include box-size(7em);
                        box-shadow: -1px 6px shade-button($paper-colors, 20%);
                    }
                }

                &--scissors {
                    margin-top: 0;

                    &::before {
                        @include box-size(7em);
                        box-shadow: -1px 6px shade-button($scissors-colors, 20%);
                    }
                }

                &--rock {
                    margin-right: 4.5em;

                    &::before {
                        @include box-size(7em);
                        box-shadow: -1px 6px shade-button($rock-colors, 20%);
                    }
                }

                &--spock {
                    margin-top: 6em;

                    &::before {
                        @include box-size(7em);
                        box-shadow: -1px 6px shade-button($spock-colors, 20%);
                    }
                }

                &--lizard {
                    margin-left: 4.5em;
                    &::before {
                        @include box-size(7em);
                        box-shadow: -1px 6px shade-button($lizard-colors, 20%);
                    }
                }
            }
        }
    }

    .btn--settings {
        font-size: 1rem;
        padding: 0.75em 3em;
        margin-bottom: 2.5em;
    }

    .settings {
        @include box-size(32em);
        padding: 1em;
        transform: translateY(-200%);
        top: calc(100vh / 2);
        border-radius: 16px;
        box-shadow: 2px 4px 8px black;

        .rules {
            h1 {
                position: absolute;
                left: 0.5em;
                top: 0.2em;
                margin-bottom: none;
            }

            img {
                margin-top: 2em;
                width: 16em;
            }
        }

        &__close {
            order: -1;
            position: absolute;
            top: 0;
            right: 0.5em;
        }

        &.active {
            transform: translateY(-50%);
        }
    }

    .picks {
        margin-top: 40vh;
        justify-content: space-between;

        &__container {
            width: auto;

            &:first-child {
                margin-left: 2.5em;
            }
        }

        .btn--placeholder {
            @include box-size(12.5em);
            box-shadow: none;
        }
    }

    .round-over {
        margin-bottom: 42vh;
    }

    footer p {
        font-size: 0.7rem;

        a {
            font-size: 0.8rem;
        }
    }
}

@include responsive-size(desktop) {
    .scoreboard {
        border-radius: 16px;

        &__title {
            padding: 0.2em;
            font-size: 2rem;
        }

        &__card {
            padding: 0.5em 2em;
            margin: 1em;

            p {
                font-size: 1rem;
            }
        }

        &__score {
            font-size: 4rem;
        }

        &.hard-active {
            .scoreboard__title {
                font-size: 1.75rem;
            }
        }
    }

    .gameview {
        margin-top: 2em;
        width: 26em;

        &__connector {
            width: 20em;
        }

        &__btn {
            @include box-size(11em);

            img {
                @include box-size(95%);
                margin-left: 0;
                margin-top: 0.5em;
                padding: 3em;
                box-shadow: 0px -8px darken(white, 15%);
            }

            &--paper::before {
                @include box-size(11em);
                box-shadow: -1px 10px shade-button($paper-colors, 20%);
            }

            &--scissors::before {
                @include box-size(11em);
                box-shadow: -1px 10px shade-button($scissors-colors, 20%);
            }

            &--rock::before {
                @include box-size(11em);
                box-shadow: -1px 10px shade-button($rock-colors, 20%);
            }

            &--spock::before {
                @include box-size(11em);
                box-shadow: -1px 10px shade-button($spock-colors, 20%);
            }

            &--lizard::before {
                @include box-size(11em);
                box-shadow: -1px 10px shade-button($lizard-colors, 20%);
            }
        }

        &.hard-active {
            margin-top: 2rem;
            width: 28em;

            .gameview__btn {
                @include box-size(9em);

                img {
                    box-shadow: 0px -6px darken(white, 15%);
                    padding: 1.75em;
                }

                &--paper {
                    margin-top: 7em;

                    &::before {
                        @include box-size(9em);
                        box-shadow: -1px 8px shade-button($paper-colors, 20%);
                    }
                }

                &--scissors {
                    margin-top: -1em;

                    &::before {
                        @include box-size(9em);
                        box-shadow: -1px 8px shade-button($scissors-colors, 20%);
                    }
                }

                &--rock {
                    &::before {
                        @include box-size(9em);
                        box-shadow: -1px 8px shade-button($rock-colors, 20%);
                    }
                }

                &--spock {
                    margin-top: 7em;

                    &::before {
                        @include box-size(9em);
                        box-shadow: -1px 8px shade-button($spock-colors, 20%);
                    }
                }

                &--lizard {
                    &::before {
                        @include box-size(9em);
                        box-shadow: -1px 8px shade-button($lizard-colors, 20%);
                    }
                }
            }
        }
    }

    .btn--settings {
        right: 0;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    .picks {
        margin-top: 35vh;
        max-width: 50em;

        &__container:first-child {
            margin-left: 3em;
        }

        h1 {
            font-size: 1.25rem;
        }

        .btn--placeholder {
            @include box-size(15em);
            box-shadow: none;
            order: 1;
            margin-bottom: 0;
            margin-top: 12em;
        }
    }

    .round-over {
        margin-bottom: 33vh;

        &__status {
            font-size: 3.5rem;
        }

        &__btn {
            padding: 1em 4em;
        }
    }

    footer {
        flex-direction: column;
        padding-bottom: 1em;

        p {
            font-size: 1rem;

            &:first-child {
                align-items: flex-start;
            }

            &:last-child {
                padding-left: 2em;
                align-items: flex-start;
            }

            a {
                font-size: 1.2rem;
            }
        }
    }
}
