@include responsive-size(tablet) {
    .scoreboard {
        &__title {
            font-size: 1.5rem;
        }

        &__card p {
            font-size: 0.8rem;
        }

        &__score {
            margin-top: -0.15em;
            font-size: 3rem;
        }
    }

    .gameview {
        margin-top: 1em;
        width: 20em;

        &__connector {
            width: 14em;
        }

        &__btn {
            @include box-size(9em);
            box-shadow: 0px -6px darken(white, 15%);

            &--paper::before {
                box-shadow: -1px 8px shade-button($paper-colors, 20%);
            }

            &--scissors::before {
                box-shadow: -1px 8px shade-button($scissors-colors, 20%);
            }

            &--rock::before {
                box-shadow: -1px 8px shade-button($rock-colors, 20%);
            }
        }
    }

    .btn--rules {
        font-size: 1rem;
        padding: 0.75em 3em;
        margin-bottom: 2.5em;
    }

    .rules {
        width: 18em;
        height: 18em;
        transform: translateY(-200%);
        top: 30vh;
        border-radius: 16px;
        box-shadow: 2px 4px 8px black;

        h1 {
            font-size: 1.5rem;
            align-self: flex-start;
            margin-left: 1em;
        }

        img {
            width: 14em;
            padding-bottom: 1em;
        }

        &__close {
            top: 0;
            right: 0;
            position: absolute;
            font-size: 2rem;
            margin-top: 0.1em;
            margin-right: 0.5em;
            order: -1;
        }
    }

    .picks {
        margin-top: 40vh;
        justify-content: space-between;

        &__container {
            width: auto;

            &:first-child {
                margin-left: 2.5em;
            }
        }

        .btn--placeholder {
            @include box-size(12.5em);
            box-shadow: none;
        }
    }

    .round-over {
        margin-bottom: 42vh;
    }

    footer p {
        font-size: 0.7rem;

        a {
            font-size: 0.8rem;
        }
    }
}

@include responsive-size(desktop) {
    .scoreboard {
        border-radius: 16px;

        &__title {
            padding: 0.2em;
            font-size: 2rem;
        }

        &__card {
            padding: 0.5em 2em;
            margin: 1em;

            p {
                font-size: 1rem;
            }
        }

        &__score {
            font-size: 4rem;
        }
    }

    .gameview {
        margin-top: 1em;
        width: 24em;

        &__connector {
            width: 20em;
        }

        &__btn {
            @include box-size(11em);
            box-shadow: 0px -8px darken(white, 15%);

            &--paper::before {
                box-shadow: -1px 10px shade-button($paper-colors, 20%);
            }

            &--scissors::before {
                box-shadow: -1px 10px shade-button($scissors-colors, 20%);
            }

            &--rock::before {
                box-shadow: -1px 10px shade-button($rock-colors, 20%);
            }
        }
    }

    .btn--rules {
        right: 0;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    .picks {
        margin-top: 30vh;
        max-width: 50em;

        &__container:first-child {
            margin-left: 4em;
        }

        h1 {
            font-size: 1.25rem;
        }

        .btn--placeholder {
            @include box-size(15em);
            box-shadow: none;
            order: 1;
            margin-bottom: 0;
            margin-top: 12em;
        }
    }

    .round-over {
        margin-bottom: 33vh;

        &__status {
            font-size: 3.5rem;
        }

        &__btn {
            padding: 1em 4em;
        }
    }

    footer {
        flex-direction: column;
        padding-bottom: 1em;

        p {
            font-size: 1rem;

            &:first-child {
                align-items: flex-start;
            }

            &:last-child {
                padding-left: 2em;
                align-items: flex-start;
            }

            a {
                font-size: 1.2rem;
            }
        }
    }
}
