.round-over {
    visibility: hidden;
    display: none;
    position: fixed;
    bottom: 0;
    margin-bottom: 10em;
    flex-direction: column;
    align-items: center;

    &__status {
        text-transform: uppercase;
        color: white;
        font-size: 3rem;
        letter-spacing: 0.2rem;
    }

    &__btn {
        margin-top: 1em;
        color: $score-title;
        padding: 0.9em 3.5em;
        border-radius: 8px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1rem;
        
        &:hover {
            color: red;
        }
    }

    &.active {
        visibility: hidden;
        display: flex;
    }
}