.btn--rules {
    color: white;
    position: fixed;
    bottom: 0;
    padding: 0.75em 2.5em;
    margin-bottom: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    background: none;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 8px;
    z-index: 2;
    @include transition-ease(color);
    @include transition-ease(background-color);

    &:hover {
        color: $score-title;
        background-color: white;
    }
}

.rules {
    position: absolute;
    top: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-100%);
    @include transition-ease(transform);

    h1 {
        color: $dark-text;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    &__close {
        font-size: 2rem;
        font-weight: 100;
        color: gray;
        cursor: pointer;
    }

    &.active {
        transform: translateY(0);
    }
}
