@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);

$dark-text: hsl(229, 25%, 31%);
$score-title: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

$background-colors: (
    primary: hsl(214, 47%, 23%),
    secondary: hsl(237, 49%, 15%),
);
$scissors-colors: (
    primary: hsl(39, 89%, 49%),
    secondary: hsl(40, 84%, 53%),
);
$rock-colors: (
    primary: hsl(349, 71%, 52%),
    secondary: hsl(349, 70%, 56%),
);
$paper-colors: (
    primary: hsl(230, 89%, 62%),
    secondary: hsl(230, 89%, 65%),
);

@function get-gradient($type) {
    @return linear-gradient(
        right top,
        map-get($type, primary),
        map-get($type, secondary)
    );
}
