.gameview {
    position: relative;
    width: $triangle-size + 10vmax;
    margin: 3rem auto;
    padding: 3rem 0 0.5rem 0;
    max-width: 28em;

    &__img {
        position: relative;
        z-index: -2; // prevents transparentizing the borders
        width: $triangle-size;
        max-width: 22em;
        display: block;
        margin: auto;
    }

    &__btns {
        @include box-size(100%);
        @include absolute-position(0, initial, initial, initial);
        display: flex;
        justify-content: center;
    }

    &__btn {
        @include box-size($triangle-size - 15vmax);
        @include max-box-size(12em);
        border-radius: 50%;
        box-shadow: 0px -5px darken(white, 15%);
        cursor: pointer;

        &--paper {
            @include absolute-position(0, initial, initial, 0);

            img {
                width: 40%;
            }

            &::before {
                content: "";
                @extend .gameview__btn;
                @include absolute-position(0, initial, initial, 0);
                z-index: -1;
                transform: $border-button-size;
                background: get-gradient($paper-colors);
                box-shadow: -1px 6px shade-button($paper-colors, 20%);
            }
        }

        &--scissors {
            @include absolute-position(0, 0, initial, initial);

            img {
                width: 40%;
            }

            &::before {
                content: "";
                @extend .gameview__btn;
                @include absolute-position(0, initial, initial, 0);
                z-index: -1;
                transform: $border-button-size;
                background: get-gradient($scissors-colors);
                box-shadow: -1px 6px shade-button($scissors-colors, 20%);
            }
        }

        &--rock {
            @include absolute-position(initial, initial, 0, initial);

            img {
                width: 40%;
            }

            &::before {
                content: "";
                @extend .gameview__btn;
                @include absolute-position(0, initial, initial, 0);
                z-index: -1;
                transform: $border-button-size;
                background: get-gradient($rock-colors);
                box-shadow: -1px 6px shade-button($rock-colors, 20%);
            }
        }
    }
}
