@include responsive-size(tablet) {
    .scoreboard {
        &__title {
            font-size: 1.5rem;
        }

        &__card p {
            font-size: 0.8rem;
        }

        &__score {
            margin-top: -0.15em;
            font-size: 3rem;
        }
    }

    .gameview {
        margin-top: 1em;
        width: 20em;

        &__connector {
            width: 14em;
        }

        &__btn {
            @include box-size(9em);
            box-shadow: 0px -6px darken(white, 15%);

            &--paper::before {
                box-shadow: -1px 8px shade-button($paper-colors, 20%);
            }

            &--scissors::before {
                box-shadow: -1px 8px shade-button($scissors-colors, 20%);
            }

            &--rock::before {
                box-shadow: -1px 8px shade-button($rock-colors, 20%);
            }
        }
    }

    .btn--rules {
        font-size: 1rem;
        padding: 0.75em 3em;
        margin-bottom: 2.5em;
    }

    .rules {
        width: 24em;
        height: 15em;
        top: 35vh;
        transform: translateY(-200%);
        border-radius: 16px;
        box-shadow: 2px 4px 8px black;
       
        h1 {
            font-size: 1.5rem;     
        }

        img {
            width: 13em;
            padding-bottom: 1em;
        }

        &__close {
            top: 0;
            right: 0;
            position: absolute;
            font-size: 1.3rem;
            margin-right: 0.5em;
            order: -1;
        }
    }
}

@include responsive-size(desktop) {
    .gameview {
        margin-top: 1em;
        width: 24em;

        &__connector {
            width: 20em;
        }

        &__btn {
            @include box-size(11em);
            box-shadow: 0px -8px darken(white, 15%);

            &--paper::before {
                box-shadow: -1px 10px shade-button($paper-colors, 20%);
            }

            &--scissors::before {
                box-shadow: -1px 10px shade-button($scissors-colors, 20%);
            }

            &--rock::before {
                box-shadow: -1px 10px shade-button($rock-colors, 20%);
            }
        }
    }
}
