@import "./config";

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: radial-gradient(
        map-get($background-colors, primary),
        map-get($background-colors, secondary)
    );
    font-weight: 600;
    font-family: $primary-font;
}

main {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: $primary-font;
    background-color: white;
    outline: none;
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
        font-size: 0.6rem;
        letter-spacing: 0.1em;
        color: white;
        display: flex;
        flex-direction: column;

        &:first-child {
            padding-left: 2em;
        }

        &:last-child {
            padding-right: 2em;
            align-items: flex-end;
        }

        a {
            font-size: 0.7rem;
            text-transform: uppercase;
            color: lighten($score-title, 15%);
            text-decoration: none;
        }
    }
}

@import "./header";
@import "./gameview";
@import "./responsive";
@import "./rules";
@import "./after-screen";
