@import "./config";

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: radial-gradient(
        map-get($background-colors, primary),
        map-get($background-colors, secondary)
    );
    font-weight: 600;
    font-family: $primary-font;
}

main {
    margin: 8vh auto;
    width: 90%;
}

button {
    outline: none;
    border: none;
}

@import "./header";
@import "./gameview";